.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.App-footer {
    padding: 5vh;
}

.App-link {
    color: #61dafb;
}

ul {
    list-style-type: none;
    font-size: calc(10px + 1vmin);
}

a, a:visited {
    color: white;
}

#header {
    width: 100%;
}
#header-left {
    text-align: left;
    padding-left: 2vw;
}

#header-right {
    text-align: right;
    padding-right: 2vw;
}

.body-div {
    padding-top: 5vh;
    padding-bottom: 5vh;
    max-width: 50vw;
}

#links {
    font-size: calc(8px + 1vmin);
}

.bold {
    font-weight: 500;
}

h2 {
    color: white;
    padding: 1vh;
    background-color: #282c34;
}

.project-div {
    margin-bottom: 10vh;
}

img {
    padding: 2vh;
}

video {
    width: 100%;
    height: auto;
}